/* Colors */
$color-do: #eb6e7a;
$color-decide: #acd210;
$color-delegate: #54b1d4;
$color-delete: #3a312a;
$color-text: #555;
$color-gray: #888;
$color-light: #e8e8e8;
$color-bg: #f0f0f0;
$color-white: #fff;

/*Utilities variables*/
$generic-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
$generic-border: 3px solid $color-light;

$font-url: 'https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&display=swap';
$font-family: 'Lexend', Arial, Helvetica, san-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
